{% extends 'base.html' %}

{% load static %}

{% block title %}Blog{% endblock %}
{% block styles %}
  <link href="{% static 'core/css/blog.css' %}" rel="stylesheet">
  <link href="{% static 'core/css/blog_responsive.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="home">
		<div class="home_inner">
			<!-- Image artist: https://unsplash.com/@yoannboyer -->
			<div style="background:url('{% static '/images/b_event4.jpg' %}');background-size:cover;" class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static '/images/b_event2.jpg' %}" data-speed="0.8"></div>
			<div class="home_container">
				<div class="home_content text-center">
					<div class="home_subtitle">Just us</div>
					<div class="home_title">The Blog</div>
				</div>
			</div>
		</div>
	</div>
<div class="blog">
		<div class="container">
			<div class="row">
				
        <!-- Blog Posts -->
				<div class="col-lg-9">
        {% for post in posts %}
					<div class="blog_posts">
						
						<!-- Blog Post -->
						<div class="blog_post" style="margin-bottom: 45px;">
							<div class="blog_post_date d-flex flex-column align-items-center justify-content-center">
								<div>{{post.published|date:"Y"}}</div>
								<div>{{post.published|date:"m"}}</div>
								<div>{{post.published|date:"d"}}</div>
							</div>
							<div class="blog_post_image"><img style="width: 100%;max-height: 500px;height: 500px;" src="{{post.image.url}}" alt="{{post.title}}"></div>
							<div class="blog_post_title"><h2><a href="{% url 'page' post.id %}">{{post.title}}</a></h2></div>
							<div class="blog_post_info">
								<ul class="d-flex flex-row align-items-start justify-content-start">
									<li><p class="mb-0 mbt">
                    <span class="section-heading-under">Published by <em><b>{{post.author}}</b>, date: {{post.published|date:"SHORT_DATE_FORMAT"}}</em> in
                        <em> 
                         {% for categoria in post.categories.all %}
                          <a href="{% url 'category' categoria.id %}" class="link">{{categoria.name}}</a>{% if not forloop.last %},{% endif %}
                         {% endfor %}
                        </em>
                    </span>
                  </p></li>
								</ul>
							</div>
							<div class="blog_post_text">
								<p>{{post.content|safe|truncatechars:"400"}}</p>
							</div>
              <div class="load_more">
                <div class="button"><a href="{% url 'page' post.id %}">Load More</a></div>
              </div>
						</div>

					</div>
				{% endfor %}
      </div>
				<!-- Sidebar -->
				<div class="col-lg-3">
					<div class="sidebar">
						<div class="sidebar_section">
							<div class="sidebar_title">Categories</div>
							<div class="sidebar_list">
								<ul>
                  {% for category in categories %}
									<li><a href="{% url 'category' category.id %}">{{category.name}}</a></li>
                  {% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
{% endblock %}