body{background-color: #EEEEEE}
main{    padding-top: 20px;}
:root {    --jumbotron-padding-y: 3rem;}
.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}
a.plus-a {
    position: fixed;
    bottom: 35px;
    right: 35px;
    font-size: 40px;
}
.form-event{
    border:1.5px solid #343a40;
    border-radius: 10px;
    background: #fdfdfd;
    padding: 25px;
}
.table-data-feature.options a.item {
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    background: #e6e6e6;
    width: 25px;
    height: 25px;
    border-radius: 1000px;
}
.jumbotron p:last-child {    margin-bottom: 0;}
.jumbotron-heading {    font-weight: 300;}
.jumbotron .container {max-width: 40rem;}
footer {    padding-top: 3rem;    padding-bottom: 3rem;}
footer p {    margin-bottom: .25rem;}
.box-shadow {box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);}
.srchnav{   
    margin-top: -55px;
    padding: 10px;
    background: #373737;
    border: 2px solid #150909;
    border-radius: 10px;
    -webkit-box-shadow: 0 12px 20px -10px rgba(41, 21, 21, 0.2),0 4px 20px 0 rgba(0,0,0,.12),0 7px 8px -5px rgba(41, 21, 21, 0.2)!important;
    box-shadow: 0 12px 20px -10px rgba(41, 21, 21, 0.2),0 4px 20px 0 rgba(0,0,0,.12),0 7px 8px -5px rgba(41, 21, 21, 0.2)!important;
}
.container-events{    padding-top: 20px;
    margin-top: 70px;
    border: 1px solid #adadad;
    border-radius: 10px;
    background-color: #fff;
}
.event_list{margin-top: 25px;}

.working{border-radius: 10px;
    background: #f2f2f2;
    color: black!important;
  }
  a.nav-link.working:after {
    content: '';
    background: red;
    height: 10px;
    width: 10px;
    top: -3px;
    left: -3px;
    z-index: 100;
    display: block;
    position: absolute;
    border-radius: 1000px;
}
  
      